<html>
  <head>
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="{{.RootUrl}}/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{.RootUrl}}/static/bootstrap-fileinput/css/fileinput.css">

    <script src="{{.RootUrl}}/static/jquery/jquery.js"></script>
    <script src="{{.RootUrl}}/static/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="{{.RootUrl}}/static/bootstrap/js/bootstrap.js"></script>
    <script src="{{.RootUrl}}/static/stupidtable.js"></script>
<!--
    <script>
        $(document).ready(function() {
          $(".table").stupidtable();
        })
    </script>
-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12"></div>
        	<div class="text-center text-primary"> <h1> {{ .Title }} </h1></div>
	</div>
        <div class="col-md-12">

          <ol class="breadcrumb">
            {{ range $index, $item := .Navigation }}
                {{ if $item.IsLast }} 
                    <li class="active">{{ $item.Name }} </li>
                 {{ else }}
                    <li><a href="{{ $item.Href }}">{{ $item.Name }} </a></li>
                 {{ end }}
            {{ end }}
          </ol>

          <form action="{{.RootUrl}}/upload/{{.Path}}" method="POST"  enctype="multipart/form-data">
            <input name="file" type="file" class="file">
          </form>
	</div>
	<div class="col-md-4">
          <form action="{{.RootUrl}}/newdir/{{.Path}}" method="POST" class="form-inline">
	    <input type="submit" class="btn btn-primary" aria-hidden="true" value="New folder"/>
	    <div class="form-group">
            <input name="dirname" id="dirname" type="text" class="form-control">
            </div>
          </form>
	</div>
	<div class="col-md-4">

          <form action="{{.RootUrl}}/edit/{{.Path}}" method="GET" class="form-inline">
	    <input type="submit" class="btn btn-primary" aria-hidden="true" value="New file"/>
	    <div class="form-group">
            <input name="filename" id="dirname" type="text" class="form-control">
            </div>
          </form>

	</div>
	<div class="col-md-2">

		<a href="{{.RootUrl}}/publish/"> 
	        <button type="button" class="btn btn-primary" aria-hidden="true">Publish</button>
		</a>

	</div>
	<div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <th data-sort="string"> Name </th>
              <th data-sort="string"> Size </th>
              <th data-sort="string"> Mode </th>
              <th data-sort="string"> Modify </th>
              <th data-sort="string">  </th>
            </thead>
            {{ range $file := .Files }}
            <tr>
              <td>
                {{ if $file.IsDir }}
                <a href="{{$.RootUrl}}/ui/{{$.Path}}/{{$file.Name}}"> {{ $file.Name }}/ </a>
                {{ else }}
                <a href="{{$.RootUrl}}/fs/{{$.Path}}/{{$file.Name}}"> {{ $file.Name }} </a>
                {{ end }}
              </td>
              <td>
                {{ $file.Size | humanizeBytes }}
              </td>
              <td>
                {{ $file.Mode }}
              </td>
              <td>
                {{ $file.ModTime | humanizeTime }}
              </td>
              <td>
                {{ if isEditable $file.Name }}
		<a href="{{$.RootUrl}}/edit/{{$.Path}}/{{$file.Name}}"> 
	        <button type="button" class="btn btn-primary" aria-hidden="true">Edit</button>
		</a>
		{{ end }}
		<!--
		<a href="/play/{{$.Path}}/{{$file.Name}}"> 
	        <button type="button" class="btn btn-primary" aria-hidden="true">Play</button>
		</a>
		-->
		<a href="{{$.RootUrl}}/delete/{{$.Path}}/{{$file.Name}}"> 
	        <button type="button" class="btn btn-danger" aria-hidden="true">Delete</button>
		</a>
		{{ if isZip $file.Name }}
		<a href="{{$.RootUrl}}/unzip/{{$.Path}}/{{$file.Name}}"> 
	        <button type="button" class="btn btn-primary" aria-hidden="true">Unzip</button>
		</a>
		{{ end }}
              </td>
            </tr>
            {{ end }}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
